<div class="wrapper">
  <div
    style="
      background-color: rgb(255, 91, 55);
      color: white;
      width: 100%;
      height: 70px;
    "
    class="p-3"
  >
    <span style="font-size: 30px; line-height: 35px">User Details</span>
    <div style="float: right">
      <div class="btn-group w-100">
        <button class="btn btn-success" (click)="getForm()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-body">
        <div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef>First name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.first_name }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef>Last name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.last_name }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef>Avatar</th>
                <td mat-cell *matCellDef="let element">
                  <img [src]="element.avatar" alt="" style="width: 35px" />
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="getFormToEdit(element.id)"
                >
                  <i class="fas fa-edit" style="width: 35px"></i>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="delete(element.id)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              #paginator
              [length]="totalRows"
              [pageIndex]="currentPage"
              [pageSize]="pageSize"
              [pageSizeOptions]="[6]"
              (page)="pageChanged($event)"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
